// 變數定義
$header-bg: #F4DDBF;
$logo-bg: url('/img/logo.jfif');
$nav-btn-bg: #00adff;
$nav-btn-color: rgb(240, 248, 255);
$nav-btn-font-size: 32px;
$main-bg: url('/img/walking.jpg');
$img-1-bg: url('/img/guitar.jpg');
$img-2-bg: url('/img/BsZkxDZ.jpeg');
$img-3-bg: url('/img/inschool.jpg');
$ham-btn-color:#00adff;
$ham-btn-line-color: rgb(240, 248, 255);





* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;

    @media (max-width: 1190px) {
        flex-direction: column;
    }
}


header {
    background-color: $header-bg;
    width: 366px;
    height: 100vh;
    /* header內框 */
    padding: 50px;
    /* header不被壓縮 */
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    /* 內容物置中 */
    justify-content: center;
    align-items: center;

    @media (max-width:1190px) {
        width: 100%;
        height: 100px;
        /* logo 與 menu 位置 */
        padding: 10px 50px;
        /* 前面columm 轉橫 打row */
        flex-direction: row;
        justify-content: space-between;
    }

    @media (max-width:740px) {    
            position: relative;
    }

    @media (max-width:430px) {    
        padding: 10px 30px;
    }

    @media (max-width:400px) {    
        padding: 10px 20px;
    }


    .logo {
        background-image: $logo-bg;
        background-size: cover;
        width: 260px;
        height: 150px;
        margin: 0 auto 50px;

        &:hover {
            transform: scale(1.05);
            opacity: 0.5;
            transition: 1s;
        }

        @media (max-width:1190px) {
            width: 130px;
            height: 75px;
            margin-top: 50px;
            margin-left: 0px;
            /* margin: auto */
            /* width: auto; */
        }

        @media (max-width:740px) {
            position: absolute;
            left: 50%;
            top: 50%;
            margin: unset;
            transform: translate(-50%, -50%);

            &:hover {
                transform: translate(-50%, -50%) scale(1.1);
                opacity: 0.5;
                transition: 1s;
            }
        }


    }

    .nav-btn-all {
        width: 200px;
        display: flex;
        flex-wrap: wrap;

        .nav-btn {
            background-color: $nav-btn-bg;
            width: 100%;
            font-size: $nav-btn-font-size;
            margin-bottom: 10px;
            text-align: center;
            text-decoration: none;
            border: 3px groove;
            border-radius: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $nav-btn-color;
            cursor: pointer;

            &:hover {
                transform: scale(0.9);
                opacity: 0.6;
                transition: 1s;
            }

            @media (max-width:1190px) {
                width: auto;
                padding: 0 20px;
                margin-left: 10px;
                margin-bottom: 0;
            }

            @media (max-width:740px) {
                  width: 100%;
                  margin-bottom: 10px;
                  font-size: 32px;
                  line-height: 50px;
                  text-align: center;
                  border: 3px inset;
                  border-radius: 30px;
                  color: aliceblue;
                  margin-left: unset;
              }
        }

        @media (max-width:1190px) {
            width: auto;
        }

        @media (max-width:740px) {
              width: 70%;
              position: absolute;
              top: 100px;
              left: 0;
              padding: 10px;
              transition: 3s;
              margin-top: unset;
              border-radius: 10px;
              display: none;
          }
    }
}

.container {
    background-image: $main-bg;
    background-size: cover;
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width:1190px) {
        width: 100%;
        padding: 100px 50px;
    }

    @media (max-width:740px) {
        padding: 0px;
    }

    .content {
        // background-color: tan;
        width: 960px;
        height: 570px;
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        flex-wrap: wrap;

        @media (max-width:1370px) {
            width: 800px;
        }

        @media (max-width:1190px) {
            width: 100%;
            height: 100%;
            margin: auto;
        }

        .img {
            // background-color: blueviolet;
            width: calc((100% - 10px * 2)/ 3);
            height: 100%;
            background-size: cover;
            background-position: center;

            &:hover {
                transform: scale(0.9);
                opacity: 0.5;
                transition: 1s;
                border-radius: 30px;
            }

            @media (max-width:1370px) {
                height: calc(50% - 5px);
                background-position: top;
            }

            @media (max-width:740px) {
                width: 100%;
                height: calc(100% / 3);
            }

        }

        .img-1 {
            background-image: $img-1-bg;

            @media (max-width:1370px) {
                width: 100%;
                margin-bottom: 10px;
            }

            @media (max-width:1190px) {

                width: 100%;
                margin-bottom: 10px;
            }

            @media (max-width:740px) {
                width: 100%;
                margin: unset;
            }
        }

        .img-2 {
            background-image: $img-2-bg;

            @media (max-width:1370px) {
                margin-right: 10px;
                width: calc(50% - 5px);
                margin-left: unset;
            }

            @media (max-width:1190px) {
                margin-right: 10px;
                width: calc(50% - 5px);
                /* margin-left: unset; */
            }

            @media (max-width:740px) {
                width: 100%;
                margin-right: unset;
            }
        }

        .img-3 {
            background-image: $img-3-bg;

            @media (max-width:1370px) {
                width: calc(50% - 5px);
            }

            @media (max-width:1190px) {
                width: calc(50% - 5px);
            }

            @media (max-width:740px) {
                width: 100%;
            }
        }

    }


}

.ham-btn {
    background-color: $ham-btn-color;
    width: 80px;
    height: 80px;
    float: left;
    position: relative;
    border-radius: 10px;
    display: none;
    cursor: pointer;
    z-index: 10;

    .line {
        background-color: $ham-btn-line-color;
        width: 80%;
        height: 8px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 1s;
        border-radius: 5px;

        &-1 {
            top: 25%
        }

        &-2 {
            top: 50%;
        }

        &-3 {
            top: 75%;
        }

    }

    @media (max-width:740px) {
        display: block;
    }

    @media (max-width:510px) {
        width: 70px;
        height: 70px;
    }

    @media (max-width:400px) {
        width: 60px;
        height: 60px;
    }

}

@media (max-width: 740px) {
    #ham-menu-switch:checked + .ham-btn .line-1 {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    #ham-menu-switch:checked + .ham-btn .line-2 {
        display: none;
    }

    #ham-menu-switch:checked + .ham-btn .line-3 {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    #ham-menu-switch:checked ~ .nav-btn-all {
        z-index: 10;
        display: block;
    }
}